async-generator==1.10
attrs==23.1.0
blinker==1.7.0
cattrs==23.1.2
certifi==2022.12.7
charset-normalizer==3.2.0
click==8.1.7
coloredlogs==15.0.1
exceptiongroup==1.1.1
Flask==3.0.0
gevent==23.9.1
gitdb==4.0.10
GitPython==3.1.31
gpt4all==2.0.2
greenlet==3.0.1
h11==0.14.0
humanfriendly==10.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jupynium @ file:///Users/normrasmussen/.local/share/nvim/lazy/jupynium.nvim
lsprotocol==2023.0.0a3
MarkupSafe==2.1.3
msgpack==1.0.5
numpy==1.26.2
outcome==1.2.0
packaging==23.1
pandas==2.1.0
persist-queue==0.8.0
psutil==5.9.5
pybind11==2.11.1
pycairo @ file:///private/tmp/py3cairo-20231021-6574-xwz2b1/pycairo-1.25.1
pygls==1.0.2
pynvim==0.4.3
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML @ file:///private/tmp/pyyaml-20231018-5610-1rdh755/PyYAML-6.0.1
requests==2.31.0
ruff==0.0.287
ruff-lsp==0.0.38
selenium==4.9.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
tqdm==4.66.1
trio==0.22.0
trio-websocket==0.10.2
typeguard==3.0.2
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.15
verboselogs==1.7
Werkzeug==3.0.1
wsproto==1.2.0
zope.event==5.0
zope.interface==6.1
