<!DOCTYPE html>
{% include 'head.html' %}
{% include 'header.html' %}
{% block content %}
  <div class="main-container">
	  <h1> Get Inspired with a Song Writing Prompt! </h1>
	  <h3> Please select from below </h3>
	<h2> {{ session.list_response }} </strong></h4>
<div class="prompt-questions">
	<form class="prompt"
	      action="{{ url_for("prompt_influence")}}"
		      method="post">
		<input id="fields" type="keywords" name="keyword-influence">
		<input class="prompt-button"
		id="fields" type="submit" value="Submit Prompt Only">
	</form>
	<form class="prompt"
	      action="{{ url_for("prompt_key")}}"
		      method="post">
		<input class="prompt-button"
		id="fields" type="submit" value="Submit Prompt Key Only">
	</form>
	<form class="prompt"
	      action="{{ url_for("prompt_timesig")}}"
		      method="post">
		<input class="prompt-button"
		id="fields" type="submit" value="Submit Prompt Time Signature Only">
	</form>
	<form class="prompt"
	      action="{{ url_for("prompt_instrument")}}"
		      method="post">
		<input class="prompt-button"
		id="fields" type="submit" value="Submit Prompt instrument Only">
	</form>
	<form class="prompt"
	      	action="{{ url_for("prompt_all")}}"
		method="post">
		<input class="prompt-button"
		id="fields" type="submit" value="Submit Prompt all Only">
	</form>
</div>
  </div>

{% endblock %}
