<!DOCTYPE html>
{% include 'head.html' %}
{% include 'header.html' %}
{% block content %}
  <div class="main-container">
	  {% if message %}
	  {% include 'modal_results.html' %}
	  {% endif %}
	  <h1> Get Inspired with a Song Writing Prompt! </h1>
	<h2> {{ session.list_response }} </strong></h4>
<div class="prompt-questions">
	<form class="prompt"
	      	action="{{ url_for("prompt_all")}}"
		method="post">
		<input class="prompt-button"
		id="fields" type="submit" value="Submit Prompt all Only">
	</form>
</div>
  </div>

{% endblock %}
